<section class="container h-100 d-flex align-items-center justify-content-center">
    <div class="d-flex shadow-g position-relative h-35 w-80">
        <div [@move]="loginOrRegister ? 'start' : 'end'" (@move.done)="doneAnimationMoveLeft()" class="d-flex flex-column justify-content-between bg-forest text-light h-35 w-40">
            <div class="mt-5 d-flex flex-column align-items-center">
                <h1 class="text-center mt-5 mb-2 font-calibri overflow-hidden">
                    {{loginOrRegister ? title[0] : title[1]}}
                </h1>

                <p id="firstP" [innerText]="loginOrRegister ? parraf[0] : parraf[1]"
                    class="text-light text-center mt-3 mb-5 size-m font-calibri-light">
                </p>

                <button class="btn btn-outline-light px-5 rounded-pill" (click)="loginOrRegister = !loginOrRegister">
                    {{loginOrRegister ? textButton[0] : textButton[1]}}
                </button>
            </div>

            <footer class="d-flex justify-content-center size-small">
                <p class="text-light me-1">Contacto:</p>
                <a href="mailto:comercial@softel.cu?Subject=AppSoftel" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                    comercial&#64;softel.cu
                </a>
            </footer>
        </div>

      <app-login matRipple [matRippleDisabled]="disabledRipple" @FadeIn class="w-60 h-35"
                 *ngIf="loginOrRegister;else register" (register)="loginOrRegister = !loginOrRegister" ></app-login>

      <ng-template #register>
            <app-register @FadeIn (event)="showModalIfRegisterSuccessfully($event)" class="w-60 w-60-r h-35"></app-register>
        </ng-template>

    </div>
</section>
